<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="CSS/mycss.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="contact_box">
        <h1>Contact Us</h1>
        <br>
        <h2>Developers</h2>
    <div class="row">
        <div class="col contact_details">
            <h3>Pranathi Bora</h3>
            <p>Contact No.: +91 88057 32036</p>
            <p>Email Id :  </p>
            <p>pranathi.borra@gmail.com</p>
            <p>Github Profile : </p>
            <p><a href="https://github.com/pranathibora14/" target="_blank">github.com/pranathibora</a></p>
            <p>LinkedIn Profile:</p>
            <p><a href="https://www.linkedin.com/in/pranathi-bora" target="_blank">linkedin.com/pranathi-bora</a> </p>
        </div>
        <div class="col contact_details">
            <h3>Shivani Patil</h3>
            <p>Contact No.: +91 84597 31693 </p>
            <p>Email Id : shivanipatilsp001@gmail.com</p>
            <p>Github Profile : <a href="https://github.com/shivanipatil209" target="_blank">github.com/shivanipatil209</a></p>
            <p>LinkedIn Profile: <a href="https://www.linkedin.com/in/shivani-patil209" target="_blank">linkedin.com/shivani-patil-209</a> </p>
        </div>
        <div class="col contact_details">
            <h3>Shivani Mundle</h3>
            <p>Contact No.: +91 93701 33252</p>
            <p>Email Id :</p><p> shivanimundle.19@gmail.com</p>
            <p>Github Profile : </p><p> <a href="https://github.com/Shivani-Mundle" target="_blank"> github.com/Shivani-Mundle</a></p>
            <p>LinkedIn Profile: </p><p> <a href="https://www.linkedin.com/in/shivani-m-89275b190/" target="_blank">linkedin.com/Shivani-Mundle</a></p>
        </div>
    </div>
    </div>
</div>
</body>
</html>