<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.5.1/jquery.min.js"></script>
    <script  src="https://maxcdn.bootsrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="CSS/mycss.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Roboto&disply=swap" rel="stylesheet">



    <title>Welcome to Project!</title>
</head>
<body class="fireflies">

<div class="container">
    <navbar>

    </navbar>
    <div class="row">
        <div class="col-md-8 col-sm-12 col-lg-auto">
            <div class="welcome">
            <h1 class="welcome_title">Welcome to Semantic Analysis of Spark Queries</h1>

             <a href="http://localhost:8080/submitQuery" align="center"><button class="btn btnprimary btn-large buttons" >Let's get started!</button></a>
        </div>
        </div>
    </div>
</div>
<canvas id="canvas"></canvas>
</body>

<script src="JS/master.js"></script>
</html>