<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.5.1/jquery.min.js"></script>
    <script  src="https://maxcdn.bootsrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="CSS/mycss.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Roboto&disply=swap" rel="stylesheet">



    <title>Welcome to Project!</title>
</head>
<body class="fireflies">

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="navbar-brand" href="/userGuide">User Guide</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="/contactUs">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="/submitQuery">Submit Query</a>
                </li>

            </ul>
        </div>
    </nav>
            <div class="welcome">
            <h3 class="welcome_title">Welcome to Semantic Analysis of SparkSQL Statements</h3>
            </div>
        <br>
        <div class="info">
            <p id="jtext" class="lead">The aim of this project is to provide the client with a holistic platform
            for performing semantic analysis of SparkSQL statements. Client centricity is one of the most important values for us.
                This platform enables our clients to analyze all the parameters that affect Spark's performance in just
                one click!
                Please refer to the User Guide on how to use the platform to the fullest and make an effective analysis.
            Hope you enjoy the platform!
            So, let's get started!</p>
        </div>
    <div id="startbutton">
             <a href="/submitQuery" ><button class="btn btn-info buttons" >Let's get started!</button></a>      
        </div>
    <canvas id="canvas"></canvas>
</div>

</body>

<script src="JS/master.js"></script>
</html>