<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="CSS/mycss.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Roboto&disply=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <title>User Guide</title>
 </head>
 <body>
 <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="/">Home</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

     <li class="nav-item">
      <a class="navbar-brand" href="/userGuide">User Guide</a>
     </li>
     <li class="nav-item">
      <a class="navbar-brand" href="/contactUs">Contact Us</a>
     </li>
     <li class="nav-item">
      <a class="navbar-brand" href="/submitQuery">Submit Query</a>
     </li>

    </ul>

   </div>
  </nav>
  <h3 class="welcome_title">User Guide</h3>
 <div class="guides">
  <br>
<p> This User Interface is designed to make the analysis of spark sql queries easy and convenient.Its a holistic platform
which provides user with functionalities such as  the query result,spark execution plans, the spark application UI and the hadoop cluster manager.</p>
  <h3 align="center">How to Use the application?</h3>
  <ul>
   <li>
<h3>Home Page</h3>
  <p>Click on 'Let's get started' </p>
    <p> You will now be directed to the submit query page where you can enter your queries.</p></li>

<li><h3>Submit Query Page</h3>
<p> We have provided 3 databases 'student','school','major' on which you can run your queries. You can view the databases by clicking on 'See All Databases'.
 Enter your query in the text box provided and click submit to run the query. If you want to rewrite the query click on reset.
 Now you will be redirected to the result page.</p></li>

 <li>
  <h3>Result page</h3>
  <p>Here you can see query that you have submitted.</p>
<ol>
 <li><h4>Query Output</h4>
  <p>You can view the result of your query by clicking on the button.</p></li>

<li><h4>Semantic Analysis</h4>
<p>By clicking on this button you can view all 4 spark execution plans which are unresolved logical plan
 , resolved logical plan, optimized logical plan and physical plan.</p></li>

 <li><h4>Query Runtime</h4>
  <p>This will show the approximate runtime time of your query in milliseconds.</p></li>

 <li><h4>Spark UI</h4>
  <p>This button will open the Spark Application UI on a new tab. You can view the jobs,tasks and DAGs on the page which will
  help you for performance tuning.</p></li>

 <li><h4>Hadoop Application UI</h4>
  <p>You are now on the Hadoop Application page on a new tab which shows all the information about your hadoop cluster.</p>
 <p>e.g. Active nodes, application running on cluster and metrics related to it.</p>
 </li>

 <li><h4>Hadoop NameNode UI</h4>
<p>This will open the Hadoop NameNode UI where you can view information about the namenode and also see
 your directories and files on hdfs file system.</p></li>

 <li><h4>Submit Another Query</h4>
 <p>You will be redirected to the submit query page to run another query.
 </p></li>
</ol>
 </li>
</ul>
<br>
 </div>
 </div>
 </body>
</html>